@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

:root {
  --text-scale-ratio: 1.4;
  --space-baseline: calc(1.4rem + var(--responsive-unit));
  --text-baseline: calc(0.6rem + var(--responsive-unit));
  --serif: "Lora", serif;
  --radius: 0px;
  --heading-line-height: 1.33;
}

body,
.btn,
.input,
.textarea {
  font-family: var(--serif);
}

.container {
  width: 70%;
  margin: auto;
}

@media (max-width: 850px) {
  .container {
    width: calc(100% - var(--space-lg));
    margin: auto;
  }
}

.hr {
  margin-block-start: var(--space-lg);
  margin-block-end: var(--space-lg);
}
